body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

p {
	color: #273043;
}

button {
	display: inline;
	font: 14px Roboto bold;
	text-align: center;
	border: 1px solid #17255A;
	border-width: 2px 1px;
	border-radius: 5px;
	padding: 4px;
	background: rgba(0,0,0,0);
}

button a {
	padding: 0;
	color: #17255A;
}

a {
	padding: 10px;
	text-decoration: none;
	font-size: 14px;
	color: #273043;
}

#root > div:first-child {
	min-height:100%;
	overflow: hidden;
	display:grid;
	grid-template-rows:auto auto 1fr auto;
	grid-template-areas:'header' 'learnableHeader' 'main' 'footer';
}

 #root, main {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.padding {
	padding: 0 7%;
}

.paddingMain {
	padding: 0 4%;
}

.flexBox {
	display: flex;
	justify-content: space-between;
}

.flexBox2 {
	display: flex;
	align-items: center;
}

.flexBox3 {
	display: flex;
	justify-content: space-around;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.arr {
	position: absolute;	
}

.cadetBlue {
	background: #17255A;
	color: white;
}

/* - - - - Header - - - - */

#header {
	grid-area: header;
}

header, nav {
	width: 100%;
}

header, nav, #nav div:first-child {
	font-weight: 600;
	letter-spacing: 3px;
	display: flex;
	align-items: center;
}

#nav {
	height: 144px;
	justify-content: space-between;
}

#genesysIcon {
	padding-right: 30px;
	height: 42px;
	position: relative;
	top: 5px;
	box-sizing: content-box;
}

span, #devStudio {
	letter-spacing: 1px;
	font-size: 13px;
	font-weight: 400;
	padding: 0 15px;
}

/* - - - - Learnable Header - - - - */

#learnableHeader {
	padding: 0 5%;
	grid-area: learnableHeader;
	height: 50px;
	justify-content: center;
}

#learnableHeader a {
	color: white;
	text-decoration: underline;
}

#learnableNav {
	justify-content: center;
}

/* - - - - Main - - - - */

main {
	grid-area: main;
}

/* - - - - Footer - - - - */

footer {
	grid-area: footer;
	font-size: 15px;
	font-weight: 400;
	min-height: 300px;
	min-width: 100vw;
	padding: 50px 4% 30px;
}

footer a {
	text-decoration: underline;
	color: 
}

 #footerImgDiv {
	width: 30%;
	min-width: 420px;
}

#addressDiv {
	width: 25%;
}

#footerImgDiv p {
	align-self: flex-end;
	width: 180px;
}

#footerRow2 {
	align-items: center;
}

#footerIcons {
	width: 18%;
	height: 18px;
	margin-bottom: 5px;
	margin-top: 70px;
}

.subscribe {
	width: 90%;
	height: 250px;
}

#cyanSubscribe {
	background:#03CEA4;
	color: #273043;
}

/* - - - - Landing - - - - */

#landing  {
	padding-top: 35px
}

#landing section:nth-child(2) {
	padding: 90px 0;
}

#landingIntro div {
	padding: 30px 0;	
}

#arr1 {
	left: 4%;
	top: 660px;
}

h1 {
	
	color: #17255A;
	font-size: 40px;
	font-weight: 900;
	line-height: 40px;
	letter-spacing: 1px;
	text-transform: capitalize;
	padding: 40px 0;
}

.h1Intro {
	width: 60%;
}

#landingIntro p {
	width: 40%;
	font-size: 16px;
	font-weight: 600;
} 

.picRight {
	max-width: 90%;
}

.padding2 {
	height: 780px;
	padding: 90px 0;
}

.centeredIcon {
	position: absolute;
	margin: 0 auto;
	left: 50%;
	top:750px;
	font-weight: 600;
}

#whiteFont {
	color: white;
}
.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.sectionTag {
	width: 40%;
	min-height: 201px;
	justify-content: space-between;
	align-items: flex-start;
}

.sectionTag a {
	text-decoration: underline;
	color:#03CEA4;
	font-weight: 600;
}

.grey {
	background: #EEE;
}

.otherThings {
	height: 570px;
}

#arr2 {
	left: 4%;
	top: 5100px;
}