body {
  margin: 0;
  height: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

section {
	clear: both;
}

h1, h2 {
	color: #17255A;
	font-size: 40px;
	font-weight: 900;
	line-height: 45px;
	letter-spacing: 1px;
	padding: 40px 0;
}

h2 {
	font-size: 32px;
}

p {
	color: #273043;
}

button {
	display: inline;
	font: 14px Roboto bold;
	text-align: center;
	border: 1px solid #17255A;
	border-width: 2px 1px;
	border-radius: 5px;
	padding: 4px;
	background: rgba(0,0,0,0);
}

button a {
	padding: 0;
	color: #17255A;
}

a {
	padding: 10px;
	text-decoration: none;
	font-size: 14px;
	color: #273043;
}

.text60 {
	font-size: 60px;
}

.text96 {
	font-size: 96px;
	line-height: 106px;
	letter-spacing: 0px;
}

.padding {
	padding: 0 7%;
}

.paddingHeader {
	padding: 0 4%;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.flexBox {
	display: flex;
	justify-content: space-between;
}

.flexBox2 {
	display: flex;
	align-items: center;
}

.flexBox3 {
	display: flex;
	justify-content: space-evenly;
}

.flexBox4 {
	display: flex;
	justify-content: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.arr, .play {
	position: absolute;	
	left: 4%;
}

.cadetBlue {
	background: #17255A;
	color: white;
}

.yellowDiv {
	background: #EAC435;
}

.greyDiv {
	background: #EEE;
}

.orangeDiv {
	background: #F5772F;
}

.greenDiv {
	background: #03CEA4;
}

.darkPurpleDiv {
	background: #2D1E2F;
}

.gunMetalDiv {
	background: #273043;
}

.redDiv {
	background: #E13F29;
}

.relativeContainer {
	position: relative;
}

.capitalize {
	text-transform: capitalize;
}

.whiteFont {
	color: white;
}

.greenFont {
	color: #03CEA4;
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

#wrapper {
	min-height:100%;
	display:grid;
	grid-template-rows:auto auto  1fr auto;
	grid-template-areas:'header' 'learnableHeader' 'main' 'footer';
}

/* - - - - Header - - - - */

#header {
	height: 130px;
	grid-area: header;
	background: white;			
}

header, nav {
	position: sticky;
	top: 0;
	z-index: 5;	
}

header, nav, #nav div:first-child {
	font-weight: 600;
	letter-spacing: 3px;
	display: flex;
	align-items: center;
}

#nav {
	height: 130px;
    justify-content: space-around;
    width: 100%;
}

#genesysIcon {
	padding-right: 30px;
	height: 42px;
	position: relative;
	top: 5px;
	box-sizing: content-box;
}

span, #devStudio {
	letter-spacing: 1px;
	font-size: 13px;
	font-weight: 400;
	padding: 0 15px;
}

/* - - - - Learnable Header - - - - */

#learnableHeader {
	top: 130px;
	padding: 0 5%;
	width: 100%;
	grid-area: learnableHeader;
	height: 50px;
	justify-content: center;
}

#learnableHeader a {
	color: white;
	text-decoration: underline;
}

#learnableNav {
	justify-content: center;
}

/* - - - - Main - - - - */

main {
	grid-area: main;
}

/* - - - - Footer - - - - */

#arr4 {
	position: relative;
	top: 70px;
}

footer {
	grid-area: footer;
	font-size: 15px;
	font-weight: 400;
	min-height: 300px;
	min-width: 100vw;
	padding: 50px 4% 30px;
}

footer a {
	text-decoration: underline;
	color: 
}

 #footerImgDiv {
	width: 30%;
	min-width: 420px;
}

#addressDiv {
	width: 25%;
}

#footerImgDiv p {
	align-self: flex-end;
	width: 180px;
}

#footerRow2 {
	align-items: center;
}

#footerIcons {
	width: 18%;
	height: 18px;
	margin-bottom: 5px;
	margin-top: 70px;
}

.subscribe {
	width: 90%;
	height: 250px;
}

.cyanSubscribe {
	background:#03CEA4;
	color: #273043;
}

/* - - - - Landing - - - - */

#landing  {
	padding-top: 35px
}

#landing section:nth-child(2) {
	padding: 90px 0;
}

#landingIntro div {
	padding: 30px 0;	
}

#arr1 {
	top: 660px;
}

.h1Intro {
	width: 60%;
}

#landingIntro p {
	width: 40%;
	font-size: 16px;
	font-weight: 600;
} 

.picRight {
	max-width: 90%;
	margin-bottom: 30px;
}

.centeredIcon {
	position: absolute;
	margin: 0 auto;
	left: 50%;
	top:750px;
	font-weight: 600;
}

.genesysSects {
	height: 700px;
	padding: 90px 0;
}

.sectionTag {
	width: 40%;
	min-height: 201px;
	justify-content: space-between;
	align-items: flex-start;
}

.sectionTag a {
	text-decoration: underline;
	color:#03CEA4;
	font-weight: 600;
}

.otherThings {
	height: 570px;
	font-size: 60px;
}

#arr2 {
	top: 4600px;
}

/* - - - - Learnable Home - - - - */

#announcment {
	height: 242px;
}

#announcment p {
	width:50%;
}

#announcment h2 {
	padding: 0 0 20px;
}

#announcment div:first-child {
	width: 55%;
}

#announcment a h2 {
	position: relative;
	top: 15px;
	padding-bottom: 0;
}

#arr3 {
	top: 150px;
}

#learnableIntroVid {
	background: rgba(0,0,0,0);
	z-index: 2;
}

#circlesDiv {
	width: 550px;
    z-index: 3;
    position: absolute;
    top: -150px;
    right: 3%;
}

#circlesDiv a {
	padding: 0;
}

.circle {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	box-shadow: 0px 11px 15px 0px rgba(0,0,0,0.2), 0px 9px 46px 0px rgba(0,0,0,0.12), 0px 24px 38px 0px rgba(0,0,0,0.14);
}

#circlesDiv h2 {
	font-size: 24px;
	line-height: 1px;
	text-decoration: underline;	
	padding: 12px 1px;
}

.circle span {
	font-size: 24px;
	
}
.circle p {
	position: relative;
	left: 12px;
}

@media screen and (max-width: 900px) {

	#circlesDiv {
		max-width: 400px;
		top: -100px;
	}

	.circle {
		width: 200px;
		height: 200px;
		border-radius: 100px;
		padding: 12px 1px;
	}

	#circlesDiv h2 {
		font-size: 18px;
	}

	.circle span {
	font-size: 18px;
	}

} 

#movedVid {
	position: relative;
	right: 0;
	margin: 60px 0 0;
	z-index: 2;
}

#greyBackground {
	position: relative;
    top: -100px;
    height: 500px;
}

#greyBackground h1 {
	color: #03CEA4;
}

.avatar {
	width: 452px;
	height: 452px;
	border-radius: 356px;	
}

.avatarContainer {
	position: relative;
	bottom: 40px;
	left: 30px;
}

#avatarSect div:first-child {
	width: 38.5%;
}

.genesysLearnableSects {
	min-height: 650px;
	padding: 0;
}

.genesysLearnableSects a {
	text-decoration: underline;
}

.genesysLearnableSects img {
	max-width: 50%;
}

.genesysLearnableSects > div {
	width: 40%;
}

#play3 {
	left: 27%;
}

.curriculumGridCont {
	height: 800px;
	padding: 30px 4%;
}

.curriculumGrid {
	width: 45% !important;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 230px 230px 230px;
}

.curriculumGrid div {
	padding: 0 4%;
	font-size: 34px;
}

.expertsGrid {
	display: grid;
	width: 50% !important;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 300px 300px;
}

.expertsGrid img {
	max-width: 100% !important; 
}

.expertsGrid h2 {
	font-size: 20px;
	padding: 5px 0;
}

.picGrid {
	display: grid;
	width: 40%;
	grid-template-columns: 25% 25% 25% 25%;
}

.picGrid img {
	max-width: 100% !important; 
}

/* - - - -  FAQ- - - - */

#faqHeader {
	padding-top: 30px;
	padding-bottom: 100px;
}

#faqs h2 {
	font-size: 24px;
	line-height: 27px;
	padding: 0;
}

#faqs li {
	padding-bottom: 50px;
	list-style-type: none;
}

#faqs div img {
	width: 10px;
	height: 10px;
	position: relative;
	top: 10px;
}

.learnableOtherSects {
	padding-bottom: 50px; 
	padding-top: 50px;  
}

.learnableFAQ {
	height: 470px;
	overflow-y: hidden;
}

#learnableJournalHeader {
	padding: 20px 4%;
	color: #273043;
}

#mentions {
	height: 250px;
	padding: 50px 0;
}

/* - - - - Journal - - - - */

#journalHero {
	height: 420px;
	margin: 50px 4% 0;
}

#journalPicDiv {
	position: relative;
	bottom: 50px;
	z-index: 2;
	margin: 0 4%;
	padding: 0 0 50px;
}

#journalPicDiv > div {
	width: 30%;
}

#journalPicDiv > img {
	position: relative;
	left: -10px;
	width: 65%;
}

#journalAvatarDiv {
	padding-top: 10px;
	position: relative;
	right: 5%;
}

.journalGridInJournal {
	bottom: 50px;
}

#journalGrid {
	display: grid;
    position: relative;
    width: 93%;
    margin: 0 4%;
    padding: 50px 0;
    grid-template-rows: 313px 500px;
    grid-template-columns: 22% 22% 22% 22%;
    grid-column-gap: 4%;
    grid-row-gap: 0;
}

#journalGrid h1 {
	color: #273043;
	font-size: 34px;
}

#journalGrid img {
	width: 102%;
}
